*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  backface-visibility: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 58%; } }

body {
  box-sizing: border-box; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.heading {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px; }

.heading-2 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px; }

.sub-heading {
  font-family: "Myriad Pro Light";
  font-weight: 100;
  font-size: 1.6rem; }

.sub-heading-2 {
  font-family: "Myriad Pro Light";
  font-weight: 400; }

body {
  font-family: 'Noto Sans JP', sans-serif; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 6rem; }
  @media only screen and (max-width: 65em) {
    h2 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 40em) {
    h2 {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 25em) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 4rem; }
  @media only screen and (max-width: 50em) {
    h3 {
      font-size: 3.7rem; } }
  @media only screen and (max-width: 40em) {
    h3 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 25em) {
    h3 {
      font-size: 3rem; } }

h4 {
  font-size: 3rem; }
  @media only screen and (max-width: 50em) {
    h4 {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 40em) {
    h4 {
      font-size: 2.3rem; } }
  @media only screen and (max-width: 32.5em) {
    h4 {
      font-size: 2rem; } }

h5 {
  font-size: 2rem; }
  @media only screen and (max-width: 40em) {
    h5 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 25em) {
    h5 {
      font-size: 1.6rem; } }

h6 {
  font-size: 1.6rem; }
  @media only screen and (max-width: 25em) {
    h6 {
      font-size: 1.2rem; } }

.btn {
  border: none;
  padding: 1rem 1.75rem;
  border: 1px solid #ffffff;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all .2s;
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2);
  margin: .5rem;
  cursor: pointer; }
  .btn[class^='btn'], .btn a {
    display: inline-block;
    text-decoration-line: none;
    color: inherit; }
  .btn:focus, .btn:active {
    outline: none; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); }
  .btn:active {
    transform: translateY(-2px);
    box-shadow: 0 0.8rem 2rem rgba(255, 255, 255, 0.2); }
  .btn__primary {
    background-color: transparent;
    color: #ffffff; }

.header {
  background-image: linear-gradient(to right top, rgba(110, 30, 166, 0.9) 0%, rgba(110, 30, 166, 0.9) 10%, rgba(38, 105, 144, 0.9));
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  padding: .5rem 0;
  position: relative; }
  @media only screen and (max-width: 40em) {
    .header {
      padding: 0; } }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid #5187a6; }
    @media only screen and (max-width: 65em) {
      .header__nav {
        padding: 0 4rem; } }
    @media only screen and (max-width: 50em) {
      .header__nav {
        padding: 0 3rem; } }
    @media only screen and (max-width: 40em) {
      .header__nav {
        flex-direction: column;
        padding: 0; } }
  .header__logo {
    width: 20rem; }
    @media only screen and (max-width: 40em) {
      .header__logo {
        width: 15rem; } }
    .header__logo-img {
      width: 100%;
      height: 100%; }
  .header__links {
    display: flex;
    list-style: none; }
    @media only screen and (max-width: 40em) {
      .header__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        display: none; } }
    .header__links.disp {
      display: flex;
      padding: 1rem 0; }
  .header__link-text {
    text-decoration-line: none;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.6rem;
    transition: all .3s;
    padding-bottom: 1rem;
    border-bottom: 1px solid transparent; }
    @media only screen and (max-width: 50em) {
      .header__link-text {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 40em) {
      .header__link-text {
        padding-bottom: .3rem; } }
    .header__link-text:focus, .header__link-text:active {
      outline: none; }
    .header__link-text:hover, .header__link-text:focus, .header__link-text:active {
      border-bottom: 1px solid #ffffff; }
    .header__link-text--active {
      border-bottom: 1px solid #ffffff; }
  .header__link:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 65em) {
      .header__link:not(:last-child) {
        margin-right: 1.2rem; } }
    @media only screen and (max-width: 50em) {
      .header__link:not(:last-child) {
        margin-right: 1rem; } }
    @media only screen and (max-width: 40em) {
      .header__link:not(:last-child) {
        margin: 0;
        margin-bottom: 1rem; } }
  .header__menu-btn {
    display: none;
    position: absolute;
    top: 4%;
    right: 4%;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: none;
    backface-visibility: hidden; }
    @media only screen and (max-width: 40em) {
      .header__menu-btn {
        display: flex; } }
  .header .menu-btn__hamburger {
    width: 80%;
    background-color: white;
    height: 3px;
    border-radius: 100px;
    transition: all .5s ease-in-out; }
    .header .menu-btn__hamburger::before, .header .menu-btn__hamburger::after {
      content: '';
      position: absolute;
      width: 80%;
      background-color: white;
      height: 3px;
      border-radius: 100px;
      transition: all .5s ease-in-out; }
    .header .menu-btn__hamburger::before {
      transform: translateY(-0.8rem); }
    .header .menu-btn__hamburger::after {
      transform: translateY(0.8rem); }
  .header__menu-btn.open {
    top: 3.6%;
    transition: none; }
    .header__menu-btn.open .menu-btn__hamburger {
      transform: translateX(-5rem);
      background: transparent; }
      .header__menu-btn.open .menu-btn__hamburger::before {
        transform: rotate(45deg) translate(3.7rem, -3.7rem); }
      .header__menu-btn.open .menu-btn__hamburger::after {
        transform: rotate(-45deg) translate(3.7rem, 3.7rem); }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 8rem 0; }
  .info__sub-heading {
    color: #969696;
    font-weight: 100;
    font-size: 1.6rem; }
  .info__heading {
    margin: 1rem 0 3rem; }
    .info__heading::after {
      content: '';
      display: block;
      margin: 1rem auto;
      width: 8%;
      height: 3px;
      background-color: #365e99; }
      @media only screen and (max-width: 40em) {
        .info__heading::after {
          width: 14%; } }
      @media only screen and (max-width: 25em) {
        .info__heading::after {
          width: 20%; } }
  .info__item-container {
    display: flex;
    padding: 0 4rem; }
    @media only screen and (max-width: 50em) {
      .info__item-container {
        padding: 0 2rem; } }
    @media only screen and (max-width: 32.5em) {
      .info__item-container {
        flex-wrap: wrap; } }
  .info__item {
    flex-basis: 33.33%;
    margin: 4rem 0;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 32.5em) {
      .info__item {
        flex-basis: 100%; } }
    .info__item:not(:last-child) {
      margin-right: 10rem; }
      @media only screen and (max-width: 65em) {
        .info__item:not(:last-child) {
          margin-right: 4rem; } }
      @media only screen and (max-width: 50em) {
        .info__item:not(:last-child) {
          margin-right: 2rem; } }
      @media only screen and (max-width: 40em) {
        .info__item:not(:last-child) {
          margin-right: 1.5rem; } }
      @media only screen and (max-width: 32.5em) {
        .info__item:not(:last-child) {
          margin: 1.5rem; } }
    .info__item-heading {
      margin: 1.6rem 0; }
    .info__item-logo .fa {
      font-size: 4rem;
      background-image: linear-gradient(to right bottom, rgba(110, 30, 166, 0.9), rgba(38, 105, 144, 0.9));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .info__item-description {
      font-size: 1.4rem;
      font-weight: 300;
      color: #6b6b6b;
      text-align: justify;
      text-justify: inter-word;
      margin-bottom: 1rem; }
    .info__item .btn {
      margin-top: auto;
      margin-left: auto;
      backface-visibility: hidden; }
      @media only screen and (max-width: 32.5em) {
        .info__item .btn {
          margin-top: 2rem; } }
      .info__item .btn:hover {
        color: #6e1ea6; }

.about {
  display: flex;
  background-image: linear-gradient(to right, #f8f8f8 25%, #24487d 25%, #24487d 100%);
  padding: 8rem 8rem 4rem;
  justify-content: center; }
  @media only screen and (max-width: 65em) {
    .about {
      background: #24487d;
      padding: 4rem 8rem 0; } }
  @media only screen and (max-width: 50em) {
    .about {
      padding: 4rem 2rem;
      padding-bottom: 0; } }
  @media only screen and (max-width: 25em) {
    .about {
      padding: 2rem; } }
  .about__img {
    margin-left: 8rem; }
    @media only screen and (max-width: 90em) {
      .about__img {
        margin-left: 4rem; } }
    @media only screen and (max-width: 65em) {
      .about__img {
        display: none; } }
    .about__img img {
      width: 100%; }
  .about__info {
    display: flex;
    justify-content: center;
    color: #ffffff; }
    @media only screen and (max-width: 25em) {
      .about__info {
        flex-direction: column; } }
  .about__links {
    list-style: none;
    padding: 1rem 2rem 0rem;
    flex-basis: 40%; }
    @media only screen and (max-width: 90em) {
      .about__links {
        flex-basis: 60%;
        padding: 0;
        margin-left: 1rem; } }
    @media only screen and (max-width: 65em) {
      .about__links {
        flex-basis: 60%; } }
    @media only screen and (max-width: 40em) {
      .about__links {
        flex-basis: 80%; } }
    @media only screen and (max-width: 40em) {
      .about__links {
        order: 1;
        flex-basis: 100%; } }
    .about__links li {
      border-right: .5rem solid transparent;
      transition: all .2s; }
      .about__links li:not(:last-child) {
        margin-bottom: 1rem; }
      .about__links li:hover, .about__links li:focus {
        border-right: 0.5rem solid #ffffff; }
      .about__links li:hover a, .about__links li a:focus {
        color: #ffffff; }
  .about__link-item {
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    color: #abbeda;
    transition: all .2s; }
    @media only screen and (max-width: 32.5em) {
      .about__link-item {
        font-size: 1rem; } }
    .about__link-item:focus {
      outline: none; }
  .about__description {
    padding: 0 4rem; }
    @media only screen and (max-width: 90em) {
      .about__description {
        flex-basis: min-content;
        padding: 0;
        margin-left: 2rem; } }
    @media only screen and (max-width: 65em) {
      .about__description {
        margin-left: 4rem; } }
    @media only screen and (max-width: 32.5em) {
      .about__description {
        margin-left: 0; } }
    .about__description .btn {
      margin: 3rem 0; }
  .about__sub-heading {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.4rem;
    margin-top: 3px;
    color: #abbeda; }
    .about__sub-heading::after {
      content: '';
      display: block;
      margin: 1.5rem 0;
      width: 12%;
      height: 2px;
      background-color: #ffffff; }
      @media only screen and (max-width: 40em) {
        .about__sub-heading::after {
          width: 16%; } }
  .about__paragraph {
    margin-top: 3rem;
    font-size: 1.4rem;
    width: 70%;
    line-height: 1.8;
    color: #d7e0ee;
    font-weight: 300; }
    @media only screen and (max-width: 90em) {
      .about__paragraph {
        width: 100%; } }
    @media only screen and (max-width: 65em) {
      .about__paragraph {
        margin-top: 1rem; } }

.get-in-touch {
  background: #4d3699; }
  .get-in-touch__container {
    display: flex;
    justify-content: space-between;
    padding: 8rem 14rem;
    color: #ffffff;
    align-items: center; }
    @media only screen and (max-width: 65em) {
      .get-in-touch__container {
        padding: 6rem; } }
    @media only screen and (max-width: 40em) {
      .get-in-touch__container {
        padding: 4rem 2rem; } }
    @media only screen and (max-width: 25em) {
      .get-in-touch__container {
        flex-direction: column; } }
  .get-in-touch__content {
    flex-basis: 70%; }
    @media only screen and (max-width: 32.5em) {
      .get-in-touch__content {
        flex-basis: 60%; } }
  .get-in-touch__sub-heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: .5rem 0; }
    @media only screen and (max-width: 40em) {
      .get-in-touch__sub-heading {
        font-size: 1.3rem;
        letter-spacing: auto; } }

.statistics {
  padding: 5rem; }
  @media only screen and (max-width: 50em) {
    .statistics {
      padding: 5rem 2rem;
      padding-bottom: 0; } }
  .statistics__heading {
    text-align: center; }
    .statistics__heading::after {
      content: '';
      display: block;
      margin: 1rem auto;
      width: 6%;
      height: 3px;
      background-color: #365e99; }
      @media only screen and (max-width: 50em) {
        .statistics__heading::after {
          width: 12%; } }
      @media only screen and (max-width: 25em) {
        .statistics__heading::after {
          width: 20%; } }
  .statistics__sub-heading {
    margin: 4rem 0 2rem;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .statistics__sub-heading {
        margin: 0 0 2rem; } }
  .statistics__brand-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    .statistics__brand-container img {
      width: 10rem;
      object-fit: contain;
      margin-right: 4rem;
      margin-bottom: 4rem;
      height: 10rem;
      border-radius: 100%; }
      @media only screen and (max-width: 50em) {
        .statistics__brand-container img {
          width: 12rem; } }
      @media only screen and (max-width: 32.5em) {
        .statistics__brand-container img {
          margin-right: 2rem;
          margin-bottom: 2rem;
          width: 8rem; } }
      @media only screen and (max-width: 32.5em) {
        .statistics__brand-container img {
          margin-right: 1rem;
          margin-bottom: 1rem;
          width: 8rem; } }

.slider {
  position: relative;
  height: calc(90vh - calc(73.95px + 42px));
  width: 100%;
  overflow: hidden; }

.slider__wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateX(100vw);
  top: 0%;
  left: 0;
  right: auto;
  overflow: hidden;
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: 0% 50%;
  transition-delay: 450ms;
  opacity: 0; }

.slider__wrap--hacked {
  opacity: 1; }

.slider__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: none;
  transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.slider__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-size: auto 133.3333%;
  background-position: center;
  background-repeat: none;
  transform: scale(0.75);
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 450ms step-end;
  opacity: 0;
  box-shadow: 0 3vh 3vh rgba(0, 0, 0, 0);
  padding: 15vh;
  box-sizing: border-box; }
  @media only screen and (max-width: 32.5em) {
    .slider__inner {
      padding: 3rem; } }
  @media only screen and (max-width: 25em) {
    .slider__inner {
      padding: 1.6rem .6rem; } }

.slider__content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

.slider__content .fa {
  color: #ffffff;
  font-size: 6rem; }

.slider__slide {
  position: absolute;
  left: 0;
  height: calc(90vh - calc(73.95px + 42px));
  width: 100vw;
  transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 600ms;
  pointer-events: none;
  z-index: 0; }

.slider__slide--active {
  transform: translatex(0%);
  z-index: 2; }

.slider__slide--active .slider__wrap {
  transform: translateX(0);
  transform-origin: 100% 50%;
  opacity: 1;
  animation: none; }

.slider__slide--active .slider__back {
  filter: blur(1.5vh);
  transition-delay: 900ms !important; }

.slider__slide--active .slider__inner {
  transform: scale(1);
  box-shadow: 0 1vh 6vh rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  opacity: 1;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 1ms step-end;
  transition-delay: 900ms; }

.slider__slide--active .slider__content {
  opacity: 1;
  transition-delay: 1350ms; }

.slider__slide:not(.slider__slide--active) .slider__wrap {
  animation-name: hack;
  animation-duration: 900ms;
  animation-delay: 450ms;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }

@keyframes hack {
  0% {
    transform: translateX(0);
    opacity: 1; }
  50% {
    transform: translateX(-100vw);
    opacity: 1; }
  51% {
    transform: translateX(-100vw);
    opacity: 0; }
  52% {
    transform: translateX(100vw);
    opacity: 0; }
  100% {
    transform: translateX(100vw);
    opacity: 1; } }

.slider__slide:nth-child(1) .slider__back, .slider__slide:nth-child(1) .slider__inner {
  background-image: url("../img/navigation/test-1.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.slider__slide:nth-child(2) .slider__back, .slider__slide:nth-child(2) .slider__inner {
  background: url("../img/navigation/foreman-and-businessman-at-solar-energy-station-ZNZJB66.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.slider__slide:nth-child(3) .slider__back, .slider__slide:nth-child(3) .slider__inner {
  background: url("../img/navigation/test-3.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.navigation__content {
  color: #ffffff;
  padding: 0 1rem; }
  @media only screen and (max-width: 50em) {
    .navigation__content a {
      font-size: 1rem; } }

@media only screen and (max-width: 50em) {
  .navigation__heading {
    font-size: 3rem; } }

@media only screen and (max-width: 40em) {
  .navigation__heading {
    font-size: 2.6rem; } }

@media only screen and (max-width: 25em) {
  .navigation__heading {
    line-height: 1; } }

.navigation__sub-heading {
  margin: 1.4rem 0; }
  @media only screen and (max-width: 50em) {
    .navigation__sub-heading {
      margin: 1rem 0;
      font-size: 2rem; } }
  @media only screen and (max-width: 40em) {
    .navigation__sub-heading {
      margin: .8rem 0;
      font-size: 1.6rem; } }

.our-skills {
  display: flex; }
  .our-skills-outer {
    padding: 8rem 0; }
    .our-skills-outer > h4::after {
      content: '';
      display: block;
      margin: 1rem auto;
      width: 6%;
      height: 3px;
      background-color: #365e99; }
      @media only screen and (max-width: 25em) {
        .our-skills-outer > h4::after {
          width: 20%; } }
  @media only screen and (max-width: 40em) {
    .our-skills {
      flex-direction: column;
      padding: 4rem 6rem; } }
  @media only screen and (max-width: 32.5em) {
    .our-skills {
      padding: 4rem 2rem; } }
  @media only screen and (max-width: 25em) {
    .our-skills {
      padding: 4rem 1rem; } }
  .our-skills > * {
    flex-basis: 50%;
    padding: 4rem; }
    @media only screen and (max-width: 65em) {
      .our-skills > * {
        padding: 4rem; } }
    @media only screen and (max-width: 50em) {
      .our-skills > * {
        padding: 2rem 1rem; } }
    @media only screen and (max-width: 40em) {
      .our-skills > * {
        padding: 1rem; } }
  .our-skills__sub-heading {
    font-style: italic; }
  .our-skills__heading {
    line-height: 1;
    margin: 2rem 0;
    text-transform: none;
    font-weight: 100; }
    .our-skills__heading::after {
      content: '';
      display: block;
      margin: 2rem 0;
      width: 40%;
      height: 3px;
      background-color: #365e99; }
  .our-skills__img img {
    width: 100%;
    height: 100%; }

.sub-footer {
  background-image: linear-gradient(to right top, #200036, #042133); }
  .sub-footer__container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 4rem 10rem;
    padding-bottom: 0; }
    @media only screen and (max-width: 65em) {
      .sub-footer__container {
        padding: 4rem;
        padding-bottom: 0; } }
    @media only screen and (max-width: 40em) {
      .sub-footer__container {
        align-items: center; } }
    @media only screen and (max-width: 32.5em) {
      .sub-footer__container {
        padding: 0 2rem; } }
    @media only screen and (max-width: 25em) {
      .sub-footer__container {
        padding: 0 .5rem; } }
  .sub-footer__social-media {
    padding: 4rem 0 3rem;
    border-bottom: 1px solid #1e3948; }
    @media only screen and (max-width: 40em) {
      .sub-footer__social-media {
        align-self: stretch; } }
    .sub-footer__social-media ul {
      display: flex;
      list-style: none;
      justify-content: space-between; }
    .sub-footer__social-media a {
      color: #ffffff;
      text-decoration-line: none;
      font-size: 1.4rem;
      font-weight: 100; }
      @media only screen and (max-width: 25em) {
        .sub-footer__social-media a {
          font-size: 1.2rem; } }
  .sub-footer__content {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 40em) {
      .sub-footer__content {
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .sub-footer__content > *:not(:last-child) {
          margin-bottom: 4rem; } }
  .sub-footer__logo {
    flex-basis: 35%; }
    @media only screen and (max-width: 40em) {
      .sub-footer__logo {
        text-align: center; } }
    .sub-footer__logo img {
      width: 40%;
      object-fit: contain;
      transform: scale(1.5); }
  .sub-footer__useful-links > *:not(:first-child) {
    padding-left: 1rem; }
  .sub-footer__heading {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1.6rem;
    border-left: 0.5rem solid #ffffff;
    padding-left: 1rem; }
    @media only screen and (max-width: 40em) {
      .sub-footer__heading {
        border-left-style: none; } }
  .sub-footer__item {
    list-style: none;
    transition: all .2s; }
    .sub-footer__item:not(:last-child) {
      margin: 1rem 0; }
    .sub-footer__item:hover, .sub-footer__item:focus {
      border-right: 0.5rem solid #ffffff; }
      .sub-footer__item:hover a, .sub-footer__item:focus a {
        color: #ffffff; }
    .sub-footer__item a {
      text-decoration-line: none;
      font-size: 1.4rem;
      color: #eeeeee;
      font-weight: 300;
      transition: all .2s; }
  .sub-footer__contact-info {
    flex-basis: 40%;
    font-size: 1.4rem;
    font-weight: 100;
    color: #ffffff;
    padding-left: 1rem; }
    .sub-footer__contact-info span {
      color: #eeeeee;
      margin-right: .5rem; }
  .sub-footer__paragraph {
    font-size: 1.4rem;
    margin: 1rem 0; }
  .sub-footer .footer {
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 300;
    border-top: 1px solid #1e3948;
    padding: 4rem 0;
    letter-spacing: 1px; }
    @media only screen and (max-width: 40em) {
      .sub-footer .footer {
        padding: 2rem 0; } }
    @media only screen and (max-width: 25em) {
      .sub-footer .footer {
        font-size: .9rem; } }

.what-we-offer {
  padding: 8rem 0;
  background: #24487d;
  color: #ffffff; }
  @media only screen and (max-width: 25em) {
    .what-we-offer {
      padding: 2rem 0; } }
  .what-we-offer__sub-heading {
    text-align: center;
    margin-bottom: 1.4rem;
    color: #eeeeee; }
  .what-we-offer__heading {
    text-align: center; }
    .what-we-offer__heading::after {
      content: '';
      display: block;
      margin: 2rem auto;
      width: 8%;
      height: 3px;
      background-color: #abbeda; }
      @media only screen and (max-width: 25em) {
        .what-we-offer__heading::after {
          width: 16%; } }
  .what-we-offer__item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    grid-gap: 4rem;
    padding: 4rem 0;
    min-height: 60vh; }
    @media only screen and (max-width: 25em) {
      .what-we-offer__item-container {
        grid-template-columns: 1fr; } }
  .what-we-offer__item {
    position: relative;
    padding: 0 4rem; }
    @media only screen and (max-width: 25em) {
      .what-we-offer__item {
        padding: 0 1rem; } }
    .what-we-offer__item.delete {
      display: none; }
    .what-we-offer__item-heading {
      margin-bottom: 2rem; }
    .what-we-offer__item-paragraph {
      font-size: 1.4rem;
      font-weight: 100;
      color: #eeeeee; }
    .what-we-offer__item .fa {
      font-size: 4rem;
      position: absolute;
      top: 0;
      right: 20%;
      transform: translateX(100%);
      background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 10%, rgba(171, 190, 218, 0.9));
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent; }

.our-work {
  padding: 6rem; }
  @media only screen and (max-width: 65em) {
    .our-work {
      padding: 6rem 2rem; } }
  @media only screen and (max-width: 32.5em) {
    .our-work {
      padding: 4rem 0; } }
  .our-work__container {
    min-height: 85vh; }
  .our-work__sub-heading {
    text-align: center;
    margin: 1rem 0; }
  .our-work__heading {
    text-align: center; }
    .our-work__heading::after {
      content: '';
      display: block;
      margin: 1rem auto;
      width: 12%;
      height: 3px;
      background-color: #365e99; }
      @media only screen and (max-width: 25em) {
        .our-work__heading::after {
          width: 20%; } }

.filter-menu {
  margin: 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  list-style: none; }
  @media only screen and (max-width: 32.5em) {
    .filter-menu {
      margin: 0; } }

.filter-menu li {
  padding: 1rem 2rem;
  background: #365e99;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s; }
  @media only screen and (max-width: 32.5em) {
    .filter-menu li {
      padding: 1rem 1.50rem; } }
  @media only screen and (max-width: 25em) {
    .filter-menu li {
      padding: 1rem .8rem;
      font-size: 1rem;
      font-weight: 400; } }

.filter-menu li:hover,
.filter-menu li.current {
  color: #24487d;
  background: #ffffff; }

.filter-item {
  list-style: none;
  padding: 1rem; }
  @media only screen and (max-width: 40em) {
    .filter-item {
      padding: 0; } }
  .filter-item li {
    width: 50%;
    padding: 1rem;
    float: left; }
  .filter-item::after {
    content: "";
    display: table;
    clear: both; }

.filter-item li.active {
  width: 50%;
  padding: 1rem;
  transition: all 0.5s ease; }

.filter-item li.delete {
  width: 0%;
  padding: 0;
  transition: all 0.5s ease; }

.filter-item img {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover; }
  @media only screen and (max-width: 65em) {
    .filter-item img {
      height: 20rem; } }

@media screen and (min-width: 768px) {
  .filter-item li.active,
  .filter-item li {
    width: 33.33%; } }

.box {
  width: 350px;
  background: #fff;
  box-sizing: 0 0 5px #bababa;
  position: relative;
  margin: 10px auto;
  font-size: 1.4rem; }

.box img {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover; }

.box .box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.box .box-content:before,
.box .box-content:after {
  content: "";
  width: 95%;
  height: 47%;
  background: #365e99;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s;
  opacity: 0; }

.box .box-content:before {
  top: -10%; }

.box .box-content:after {
  bottom: -10%; }

.box:hover .box-content:before {
  top: 3%;
  opacity: 0.8; }

.box:hover .box-content:after {
  bottom: 3%;
  opacity: 0.8; }

.box .content {
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: all .3s ease-in-out;
  transition-delay: .2s;
  color: #ffffff;
  font-weight: 100; }

.box:hover .content {
  opacity: 1; }

.box:hover .content .post {
  font-size: 1.8rem; }

.social-media {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: .5rem 2rem;
  color: #24487d; }
  @media only screen and (max-width: 25em) {
    .social-media {
      padding: .5rem 1rem; } }
  .social-media__email .fa {
    margin-right: .6rem; }
  .social-media__email a {
    text-decoration-line: none;
    color: currentColor;
    font-weight: 400; }
  .social-media__icons :not(:last-child) {
    margin-right: 1.2rem; }
  .social-media .fa {
    color: #24487d;
    transition: all .3s;
    backface-visibility: hidden; }
    .social-media .fa:hover {
      color: #365e99;
      transform: scale(1.2); }
