*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  backface-visibility: hidden; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.heading {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px; }

.heading-2 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px; }

.sub-heading {
  font-family: "Myriad Pro Light";
  font-weight: 100;
  font-size: 1.6rem; }

.sub-heading-2 {
  font-family: "Myriad Pro Light";
  font-weight: 400; }

body {
  font-family: "Myriad Pro"; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 6rem; }

h3 {
  font-size: 4rem; }

h4 {
  font-size: 3rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

.btn {
  border: none;
  padding: 1rem 1.75rem;
  border: 1px solid #ffffff;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all .2s;
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2);
  margin: .5rem;
  cursor: pointer; }
  .btn a {
    display: inline-block;
    text-decoration-line: none;
    color: inherit; }
  .btn:focus, .btn:active {
    outline: none; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); }
  .btn:active {
    transform: translateY(-2px);
    box-shadow: 0 0.8rem 2rem rgba(255, 255, 255, 0.2); }
  .btn__primary {
    background-color: transparent;
    color: #ffffff; }

.header {
  background-image: linear-gradient(to right top, rgba(110, 30, 166, 0.9) 0%, rgba(110, 30, 166, 0.9) 10%, rgba(38, 105, 144, 0.9));
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  padding: .5rem 0; }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid #5187a6; }
  .header__logo {
    width: 10rem; }
    .header__logo-img {
      width: 100%;
      height: 100%; }
  .header__links {
    display: flex;
    list-style: none; }
  .header__link-text {
    text-decoration-line: none;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.6rem;
    transition: all .3s;
    padding-bottom: 1rem;
    border-bottom: 1px solid transparent; }
    .header__link-text:focus, .header__link-text:active {
      outline: none; }
    .header__link-text:hover, .header__link-text:focus, .header__link-text:active {
      border-bottom: 1px solid #ffffff; }
    .header__link-text--active {
      border-bottom: 1px solid #ffffff; }
  .header__link:not(:last-child) {
    margin-right: 2rem; }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 8rem 0;
  margin-top: 60rem; }
  .info__sub-heading {
    color: #969696;
    font-weight: 100;
    font-size: 1.6rem; }
  .info__heading {
    margin: 1rem 0 3rem; }
    .info__heading::after {
      content: '';
      display: block;
      margin: 1rem auto;
      width: 8%;
      height: 3px;
      background-color: #365e99; }
  .info__item-container {
    display: flex;
    padding: 0 4rem; }
  .info__item {
    margin: 4rem 0; }
    .info__item:not(:last-child) {
      margin-right: 6rem; }
    .info__item-heading {
      margin: 1.6rem 0; }
    .info__item-logo .fa {
      font-size: 4rem;
      background-image: linear-gradient(to right bottom, rgba(110, 30, 166, 0.9), rgba(38, 105, 144, 0.9));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .info__item-description {
      font-size: 1.4rem;
      font-weight: 300;
      color: #6b6b6b; }

.about {
  display: flex;
  background-image: linear-gradient(to right, #f8f8f8 25%, #24487d 25%, #24487d 100%);
  padding: 8rem 8rem 4rem;
  justify-content: center; }
  .about__img {
    margin-left: 12rem; }
    .about__img img {
      width: 100%; }
  .about__info {
    display: flex;
    justify-content: center;
    color: #ffffff; }
  .about__links {
    list-style: none;
    padding: 1rem 2rem 0rem;
    flex-basis: 40%; }
    .about__links li {
      border-right: .5rem solid transparent;
      transition: all .2s; }
      .about__links li:not(:last-child) {
        margin-bottom: 1rem; }
      .about__links li:hover, .about__links li:focus {
        border-right: 0.5rem solid #ffffff; }
      .about__links li:hover a, .about__links li a:focus {
        color: #ffffff; }
  .about__link-item {
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #abbeda;
    transition: all .2s; }
    .about__link-item:focus {
      outline: none; }
  .about__description {
    padding: 0 4rem; }
    .about__description .btn {
      margin: 3rem 0; }
  .about__sub-heading {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.4rem;
    margin-top: 3px;
    color: #abbeda; }
    .about__sub-heading::after {
      content: '';
      display: block;
      margin: 1.5rem 0;
      width: 12%;
      height: 2px;
      background-color: #ffffff; }
  .about__paragraph {
    margin-top: 4rem;
    font-size: 1.4rem;
    width: 70%;
    line-height: 1.6;
    color: #d7e0ee;
    font-weight: 300; }

.get-in-touch {
  background: #4d3699; }
  .get-in-touch__container {
    display: flex;
    justify-content: space-between;
    padding: 8rem 14rem;
    color: #ffffff;
    align-items: center; }
  .get-in-touch__sub-heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: .5rem 0; }

.statistics {
  background: #24487d;
  color: #ffffff; }
  .statistics__container {
    display: flex;
    justify-content: center;
    padding: 8rem; }
  .statistics__item {
    display: flex; }
    .statistics__item:not(:last-child) {
      margin-right: 6rem; }
  .statistics__logo {
    margin-right: 2.2rem;
    margin-top: 1rem; }
    .statistics__logo .fa {
      font-size: 3rem;
      font-weight: 100; }
  .statistics__heading {
    font-weight: 400; }
  .statistics__sub-heading {
    font-weight: 300; }

.navigation {
  background-color: transparent;
  position: relative; }
  .navigation__sub-heading {
    margin-bottom: 4rem;
    width: 50%; }
  .navigation__item {
    width: 100%;
    height: 85vh;
    position: absolute;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20rem;
    color: #ffffff;
    transition: all 0.8s cubic-bezier(0.83, 0.15, 0.47, 0.84); }
    .navigation__item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right top, rgba(110, 30, 166, 0.9) 0%, rgba(110, 30, 166, 0.9) 10%, rgba(38, 105, 144, 0.9));
      opacity: .5;
      z-index: -1; }
    .navigation__item-1 {
      clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
      background: url("../img/navigation/test-1.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
    .navigation__item-2 {
      clip-path: polygon(55% 0, 100% 0, 85% 100%, 0 100%);
      background: url("../img/navigation/foreman-and-businessman-at-solar-energy-station-ZNZJB66.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
    .navigation__item-3 {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 55% 100%);
      background: url("../img/navigation/test-3.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
    .navigation__item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .navigation:hover .navigation__item {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  .navigation .navigation__item:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }

.navigation__item:not(:hover).navigation__item > * {
  opacity: 0; }

.our-skills {
  display: flex; }
