.info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 8rem 0;
   margin-top: 40rem; // becoz position of .navigation is absolute 

   @media only screen and (min-height: 500px) {
      & {
         margin-top: 48rem; 
      }
   }
   @media only screen and (min-height: 600px) {
      & {
         margin-top: 55rem; 
      }
   }
   @media only screen and (min-height: 680px) {
      & {
         margin-top: 64rem; 
      }
   }
   @media only screen and (min-height: 768px) {
      & {
         margin-top: 65rem; 
      }
   }
   @media only screen and (min-height: 800px) {
      & {
         margin-top: 72rem;         
      }
   }
   @media only screen and (min-height: 900px) {
      & {
         margin-top: 80rem;  
      }
   }
   @media only screen and (min-height: 1000px) {
      & {
         margin-top: 90rem;  
      }
   }
   @media only screen and (min-height: 1100px) {
      & {
         margin-top: 100rem;  
      }
   }
   @media only screen and (min-height: 1200px) {
      & {
         margin-top: 47rem;  
      }
   }

   @media only screen and (max-height: 450px) {
      & {
         margin-top: 35rem; 
      }
   }
   @media only screen and (max-height: 360px) {
      & {
         margin-top: 30rem; 
      }
   }
   @media only screen and (max-height: 300px) {
      & {
         margin-top: 25rem; 
      }
   }

  

   &__sub-heading {
      color: #969696;
      font-weight: 100;
      font-size: 1.6rem;
   }

   &__heading {
      margin: 1rem 0 3rem;

      &::after {
         content: '';
         display: block;
         margin: 1rem auto;
         width: 8%;
         height: 3px;
         background-color: $color-primary;

         @media only screen and (max-width: $bp-big) {
            width: 14%;
         } 
         @media only screen and (max-width: $bp-small) {
            width: 20%;
         } 
      }
   }

   &__item-container {
      display: flex;
      padding: 0 4rem;

      @media only screen and (max-width: $bp-large) {
         padding: 0 2rem;
      } 

      @media only screen and (max-width: $bp-medium) {
         flex-wrap: wrap;
      } 
   }

   &__item {
      flex-basis: 33.33%;
      margin: 4rem 0;

      @media only screen and (max-width: $bp-medium) {
         flex-basis: 100%;
      } 

      &:not(:last-child) {
         margin-right: 10rem;

         @media only screen and (max-width: $bp-mega){
            margin-right: 4rem;
         }

         @media only screen and (max-width: $bp-large) {
            margin-right: 2rem;
         } 

         @media only screen and (max-width: $bp-big) {
            margin-right: 1.5rem;
         }
         
         @media only screen and (max-width: $bp-medium) {
            margin: 1.5rem;
         } 
      }

      &-heading {
         margin: 1.6rem 0;
      }

      &-logo .fa {
         font-size: 4rem;
         background-image: linear-gradient(to right bottom, rgba(#6e1ea6, 0.9), rgba(#266990, 0.9));
         -webkit-background-clip: text;
         background-clip: text;
         color: transparent;
      }
      
      &-description {
         font-size: 1.4rem;
         font-weight: 300;
         color: $color-text;
         text-align: justify;
         text-justify: inter-word;
      }
   }
}