.our-skills {
   &-outer {
      padding: 8rem 0;
      & > h4 {
         &::after {
            content: '';
            display: block;
            margin: 1rem auto;
            width: 6%;
            height: 3px;
            background-color: $color-primary;
            @media only screen and (max-width: $bp-small) {
               width: 20%;
            }
         }
      }
   }

   display: flex;

   @media only screen and (max-width: $bp-big) {
      flex-direction: column;
      padding: 4rem 6rem;
   } 

   @media only screen and (max-width: $bp-medium) {
      padding: 4rem 2rem;
   }

   @media only screen and (max-width: $bp-small) {
      padding: 4rem 1rem;
   }

   & > * {
      flex-basis: 50%;
      padding: 4rem;

      @media only screen and (max-width: $bp-mega) {
         padding: 4rem;
      }
      
      @media only screen and (max-width: $bp-large) {
         padding: 2rem 1rem; 
      }  

      @media only screen and (max-width: $bp-big) {
         padding: 1rem;
      } 
   }

   &__sub-heading {
      font-style: italic;
   }

   &__heading {
      line-height: 1;
      margin: 2rem 0;
      text-transform: none;
      font-weight: 100;

      &::after {
         content: '';
         display: block;
         margin: 2rem 0;
         width: 40%;
         height: 3px;
         background-color: $color-primary;
      }
   }

   &__img {
      img {
         width: 100%;
         height: 100%;
      }
   }
}