.our-work {
   padding: 6rem;

   @media only screen and (max-width: $bp-mega) {
        padding: 6rem 2rem;
    }  

    @media only screen and (max-width: $bp-medium) {
        padding: 4rem 0;
    }

   &__container {
      min-height: 85vh; // Change according to projects number
   }

   &__sub-heading {
      text-align: center;
      margin: 1rem 0;
   }

   &__heading {
      text-align: center;
      &::after {
         content: '';
         display: block;
         margin: 1rem auto;
         width: 12%;
         height: 3px;
         background-color: $color-primary;
         @media only screen and (max-width: $bp-small) {
            width: 20%;
         }
      }  
   }
}

.filter-menu{
    margin: 2rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    list-style: none;
    
    @media only screen and (max-width: $bp-medium) {
        margin: 0;
    }
}
.filter-menu li{
    padding: 1rem 2rem;
    background: $color-primary;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;
    @media only screen and (max-width: $bp-medium) {
        padding: 1rem 1.50rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 1rem .8rem;
        font-size: 1.1rem;
    }
}
.filter-menu li:hover,
.filter-menu li.current{
    color: $color-secondary;
    background: $color-white;
}

.filter-item {
   list-style: none;
   padding: 1rem;

   @media only screen and (max-width: $bp-big) {
        padding: 0;
    }
    
   li{
        width: 50%;
        padding: 1rem;
        float: left;
   }

  @include clearfix;
}

.filter-item li.active{
    width: 50%;
   padding: 1rem;
    transition: all 0.5s ease;
}

.filter-item li.delete{
    width: 0%;
    padding: 0;
    transition: all 0.5s ease;
}

.filter-item img{
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;

    @media only screen and (max-width: $bp-mega) {
        height: 20rem;
    } 
}

@media screen and (min-width: 768px){
    .filter-item li.active,
    .filter-item li{
        width: 33.33%;
    }
}