.statistics {
   background: $color-secondary;
   color: $color-white;

   &__container {
      display: flex;
      justify-content: center;
      padding: 8rem;
   }
   
   &__item {
      display: flex;

      &:not(:last-child) {
         margin-right: 6rem;
      }
   }

   &__logo {
      margin-right: 2.2rem;
      margin-top: 1rem;

      & .fa {
         font-size: 3rem;
         font-weight: 100;
      }
   }

   &__heading {
      font-weight: 400;
   }

   &__sub-heading {
      font-weight: 300;
   }
}