.modal__container {
    position: fixed;
    background-color: rgba(#000000, .7);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

// .modal__container.flex {
//     display: flex;
// }


.modal {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-image: linear-gradient(to right top, #200036, #042133);
    color: $color-white;
    padding: 6rem;

    @media only screen and (min-width: 100em) {
        width: 60%;
    }

    @media only screen and (max-width: $bp-laptop-large) {
        width: 80%;
    }

    @media only screen and (max-width: $bp-mega) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 5rem 2rem;
    }

    @media only screen and (max-height: 35em) {
        padding: 2rem 4rem;
    }

    @media only screen and (max-height: 31.25em) {
        padding: 0 2rem;
    }
    
    @media only screen and (max-height: 28.75em) {
        padding: 2rem 4rem;
        transform: scale(.75);
    }


    &__close-btn {
        position: absolute;
        right: 2.5%;
        top: 4%;
        font-size: 2rem;
        font-weight: 900;
        transition: all .5s cubic-bezier(.53,.07,.22,1.33);

        @media only screen and (max-width: $bp-large), (max-height: 23.125em) {
            top: 3%;
            right: 3.5%;
        }

        &:hover {
            transform: rotate(90deg);
        }
    }

    &__heading {
        font-weight: 500;
        text-align: center;

        @media only screen and (max-width: $bp-large), (max-height: 23.125em) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.6rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
    }

    &__content {
        display: flex;
        margin: 2rem 0;

        & > * {
            flex-basis: 50%;
            @media only screen and (max-width: $bp-large) {
                flex-basis: 100%;
            }
            @media only screen and (max-width: 50em), (max-width: 59em) and (max-height: 21.875em), (max-height: 25em) {
                flex-basis: 100%;
            }
        }
    }

    &__description {
        font-size: 1.6rem;
        font-weight: 200;
        margin-right: 5rem;
        line-height: 1.6;
        padding: 1rem 0;
        
        @media only screen and (max-width: $bp-mega) {
            margin-right: 3rem;
        }

        @media only screen and (max-width: $bp-large),(max-height: 23.125em) {
            margin: 0;
            text-align: justify;
        }

        @media only screen and (max-width: $bp-small) {
            line-height: 1.4;
            font-size: 1.4rem;
        }
    }

    &__image {
        align-self: center;
        @media only screen and (max-width: $bp-large), (max-height: 23.125em)  {
            display: none;
        }

        @media only screen and (max-width: 50em), (max-width: 59em) and (max-height: 21.875em), (max-height: 25em) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;

        .fa {
            color: #eef1f4;
            font-size: 3rem;
            font-weight: 900;
            margin: 1rem 0;

            polyline {
                transition: all .5s cubic-bezier(.53,.07,.22,1.33);
            }

            &:hover polyline {
                stroke-width: 8;
            }
        }

        &-container {
            display: flex;
            justify-content: center;
            margin: 1rem;

            & > :first-child {
                margin-right: 2.5rem;
            }
        }
    }
}



.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .slide-content span {
    font-size: 5rem;
    color: #fff;
}