$color-white: #ffffff;

$color-text: #6b6b6b;

$color-gray: #eeeeee;

$color-primary: #365e99;
$color-primary-light: #abbeda;

$color-primary-light-1: #4d3699;

$color-secondary: #24487d;


// Breakpoints
$bp-laptop-large: 90em;
$bp-mega: 65em;
$bp-large: 50em;
$bp-big: 40em;
$bp-medium: 32.5em;
$bp-small: 25em;